/*
    Notes:

    - Use vh, vw for responsive sizing
*/

body, html {
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #e9ebee;
}

.bgImage {
    /* The image used */
    background-image: url("../images/background-image.jpg");

    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);

    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgInnerFrame {
    background-color: rgb(0, 0, 0);  /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;

    /* Makes this box in the centre */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 50%; /* so the elements inside the frame wont be sticking out as screen width shrinks */
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.profilePicContainer {
    float: left;
}

#profilePicture {
    border-radius: 50%;
    width: calc(200px + 2vw);
    background-size: cover;

    /* white border around circle */
    border: 3px solid #23252a;
}

.profileInfo {
    display: inline-block;
}

#name {
    font-size: calc(20px + 1.5vw); /* 28px + 1.5% of viewport width */
    font-weight: bold;
}

#schoolPicture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
}

.schoolInfo {
    margin-bottom: 10px;
}

.schoolName {
    font-size: calc(15px + 1vw);
}

.programName {
    font-size: calc(10px + 1vw);
    font-style: italic;
}

.motto {
    font-size: calc(15px + 1vw);
}

.red {
    color: red;
}

.description {
    text-align: center;
}

.schoolPictureContainer {
    /* display: inline-block; */
    float: left;
    /* margin-bottom: 30px; */
        
}

.bodyContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%
}

.degreeInfoContainer {
    margin-left: 120px;
    padding-top: 10px;
}

.degreeInfoContainer div h2 {
    font-size: calc(15px + 1vw)
}

.degreeInfoContainer h6 {
    font-size: calc(10px + 0.5vw)
}

.expectedGraduateYear {
    float: right; 
}

.workContainer {
    margin-top: 30px;
}

.workInfoContainer {
    margin-left: 120px;
}

.workAchievements {
    font-size: 20px;
    font-style: bold;
}

.icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
} 

.titles {
    margin-top: 40px;
}