/*
    Notes:

    - Use vh, vw for responsive sizing
*/

body, html {
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.bgImage {
    /* The image used */
    background-image: url("../images/background-image.jpg");

    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);

    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.bgInnerFrame {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;

    /* Makes this box in the centre */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%; /* so the elements inside the frame wont be sticking out as screen width shrinks */
    z-index: 2;
    padding: 20px;
    text-align: center;
}
.profilePicContainer{
    float: left;
}
#profilePicture {
    border-radius: 50%;
    width: 36vh;
    background-size: cover;

    /* white border around circle */
    border: 3px solid #23252a;
}
.profileInfo{
    display: inline-block;
}
#name {
    font-size: calc(28px + 1.5vw); /* 28px + 1.5% of viewport width */
    font-weight: bold;
}
#schoolPicture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
}
.schoolInfoContainer {
    list-style: none;
    padding: 0px;
}
.schoolName {
    font-size: 25px;
}
.programName {
    font-size: 15px;
    font-style: italic;
}
.motto {
    font-size: 25px;
}
.red {
    color: red;
}